# ===============================
# Virtual Environment
# ===============================
venv/
env/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Dataset (DO NOT upload images)
# ===============================
data/
images/

# (If you want to keep structure only, comment above and use below)
# data/raw/
# data/train/
# data/val/
# data/test/
# data/processed/

# ===============================
# Model Weights (VERY IMPORTANT)
# ===============================
*.pt
*.pth

# ===============================
# Training Outputs
# ===============================
runs/
outputs/
*.png

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# System Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs / Temp
# ===============================
*.log
temp/